<div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

    <div class="image-upload-wrap" *ngIf="uploader.queue.length == 0">
      <div class="drag-text"  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
      ng2FileDrop (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop) = "onFileDrop($event)"
     >
        <h3>Drag and drop a file or select add Image</h3>
      </div>
    </div>

    <div class="image-upload-wrap" *ngIf="uploader.queue.length > 0"> 
      <div class="drag-text"  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
      ng2FileDrop (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop) = "onFileDrop($event)"
     >
      <div class="image-previews" *ngFor="let item of uploader.queue">
        <img src="" thumbnail [image]="item?._file"/>
        {{ item?.file?.name }}
        {{ item?.file?.size }}    

      </div>
      </div>
    </div>
</div>