<div class="file-upload">
  <input type="file" ng2FileSelect [uploader]="uploader" style="display: none"  #fileUploader>

  <button class='upload-button' (click)="fileUploader.click()">
      Select File
  </button>

    <div class="image-upload-wrap" *ngIf="uploader.queue.length == 0">
      <div class="drag-text"  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
      ng2FileDrop (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop) = "onFileDrop($event)"
     >
        <h3>Drag and drop a file or select add Image</h3>
      </div>
    </div>

    <div class="image-upload-wrap" *ngIf="uploader.queue.length > 0"> 
      <div class="drag-text"  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
      ng2FileDrop (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop) = "onFileDrop($event)"
     >
      <div class="image-previews" *ngFor="let item of uploader.queue">
        <div class="image-holder">
          <img src="" thumbnail [image]="item?._file"/>
        </div>
        <span class="file-name">{{ item?.file?.name }} </span>  
        <mat-icon class='remove-icon' (click)="removeFile(item)">remove_circle</mat-icon>
      </div>
      </div>
    </div>

    <div class="submission" *ngIf='uploader.queue.length > 0'>
      <button (click)="submitFiles()">Submit</button>
    </div>
</div>