<mat-card class='img-container'>
    <mat-card-header>
        DOG
        <mat-card-title>
            DF
        </mat-card-title>
    </mat-card-header>
        <img mat-card-image class="file-thumbnail"
        (click) = "thumbnailClick()"
        [src]="image_blob"
        [style.height.px]="getHeight()"
        [style.width.px]="getWitdh()"
    >
    <mat-card-actions>
        <span class='opt' (click)=deleteImage()>Delete</span>
        <span class='opt' (click)=editImage()>Public</span>
    </mat-card-actions>
</mat-card>
