<div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      [infiniteScrollDisabled]="scrollStop"
      (scrolled)="onScrollDown()"
>
<mat-grid-list cols="4" rowHeight="500px" gutterSize="10px">
  <mat-grid-tile
      *ngFor="let tile of fileList"
      [colspan]="1"
      [rowspan]="1">
      <app-image-grid [fileInfo]=tile [size]=300 (deletedFile)="handleDelete($event)"></app-image-grid>
  </mat-grid-tile>
</mat-grid-list>
</div>