<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/home" class="navbar-brand">Flackr</a>
    <div class='links' *ngIf="isLoggedIn">
      <ul class="navbar-nav left-options" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a href="/upload" class="nav-link" routerLink="upload">Upload</a>
        </li>
      </ul>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>User Search</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="searchControlForm"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)=handleSelectedSearch($event)>
            <mat-option *ngFor="let option of searchOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <ul class="navbar-nav ml-auto login-stat" >
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>

    </div>
    
    <div class='links' *ngIf="!isLoggedIn">
      <ul class="navbar-nav ml-auto login-stat" >
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
    
</nav>