.img-container {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border-style: solid;
}

.file-name {
    font-size: 15px;
    color: black;
}

.opt {
    background-color: transparent ;
    border: none;
    color: black;
}

.img-container .opt {
    cursor: pointer;
    padding: 5px;
}
.img-container:hover .img-options {
    opacity: 1;
}